<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.ChuoiCungUngNuocNgotConnectionString"
            connectionString="Data Source=NGUYENVANVUONG;Initial Catalog=ChuoiCungUngNuocNgot;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>